# =========================
# Java
# =========================
*.class
*.log
*.ctxt
hs_err_pid*
replay_pid*

# =========================
# Maven
# =========================
target/
!.mvn/wrapper/maven-wrapper.jar

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Node.js / React
# =========================
node_modules/
dist/

# =========================
# Environment files
# =========================
.env
.env.*

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db